In [1]:
import pandas as pd

kick = pd.read_csv('Kickstarter_projects_Feb19.csv')
kick.head()

,id,name,currency,main_category,sub_category,launched_at,deadline,duration,goal_usd,city,state,country,blurb_length,name_length,status,start_month,end_month,start_Q,end_Q,usd_pledged
0,1687733153,Socks of Speed and Socks of Elvenkind,USD,games,Tabletop Games,2018-10-30 20:00:02,2018-11-15 17:59:00,16.0,2000.00000,Menasha,WI,US,14,7,successful,10,11,Q4,Q4,6061.00000
1,227936657,Power Punch Boot Camp: An All-Ages Graphic Novel,GBP,comics,Comic Books,2018-08-06 10:00:43,2018-09-05 10:00:43,30.0,3870.99771,Shepperton,England,GB,24,8,successful,8,9,Q3,Q3,3914.50512
2,454186436,"Live Printing with SX8: ""Squeegee Pulp Up""",USD,fashion,Apparel,2017-06-09 15:41:03,2017-07-09 15:41:03,30.0,1100.00000,Manhattan,NY,US,21,7,successful,6,7,Q2,Q3,1110.00000
3,629469071,Lost Dog Street Band's Next Album,USD,music,Country & Folk,2014-09-25 18:46:01,2014-11-10 06:00:00,45.0,3500.00000,Nashville,TN,US,15,6,successful,9,11,Q3,Q4,4807.00000
4,183973060,"Qto-X, a Tiny Lantern",USD,technology,Gadgets,2016-11-28 16:35:11,2017-01-27 16:35:11,60.0,30000.00000,Troy,MI,US,15,4,successful,11,1,Q4,Q1,40368.00000

In [2]:
kick.columns

Index(['id', 'name', 'currency', 'main_category', 'sub_category',
       'launched_at', 'deadline', 'duration', 'goal_usd', 'city', 'state',
       'country', 'blurb_length', 'name_length', 'status', 'start_month',
       'end_month', 'start_Q', 'end_Q', 'usd_pledged'],
      dtype='object')

In [3]:
kick['year'] = kick['deadline'].astype(str).str[0:4]
kick.year = kick.year.astype(int)
kick

,id,name,currency,main_category,sub_category,launched_at,deadline,duration,goal_usd,city,...,country,blurb_length,name_length,status,start_month,end_month,start_Q,end_Q,usd_pledged,year
0,1687733153,Socks of Speed and Socks of Elvenkind,USD,games,Tabletop Games,2018-10-30 20:00:02,2018-11-15 17:59:00,16.0,2000.00000,Menasha,...,US,14,7,successful,10,11,Q4,Q4,6061.000000,2018
1,227936657,Power Punch Boot Camp: An All-Ages Graphic Novel,GBP,comics,Comic Books,2018-08-06 10:00:43,2018-09-05 10:00:43,30.0,3870.99771,Shepperton,...,GB,24,8,successful,8,9,Q3,Q3,3914.505120,2018
2,454186436,"Live Printing with SX8: ""Squeegee Pulp Up""",USD,fashion,Apparel,2017-06-09 15:41:03,2017-07-09 15:41:03,30.0,1100.00000,Manhattan,...,US,21,7,successful,6,7,Q2,Q3,1110.000000,2017
3,629469071,Lost Dog Street Band's Next Album,USD,music,Country & Folk,2014-09-25 18:46:01,2014-11-10 06:00:00,45.0,3500.00000,Nashville,...,US,15,6,successful,9,11,Q3,Q4,4807.000000,2014
4,183973060,"Qto-X, a Tiny Lantern",USD,technology,Gadgets,2016-11-28 16:35:11,2017-01-27 16:35:11,60.0,30000.00000,Troy,...,US,15,4,successful,11,1,Q4,Q1,40368.000000,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192543,1882418986,Book CafÃÂ© Bergen,NOK,food,Drinks,2016-10-19 18:07:51,2016-12-18 19:07:51,60.0,57858.66500,Bergen,...,NO,21,3,failed,10,12,Q4,Q4,1.224260,2016
192544,89212319,Chainlink tool,NOK,technology,Fabrication Tools,2014-11-14 12:11:46,2014-12-31 12:59:00,47.0,115717.33000,BÃÂ¥tsfjord,...,NO,18,2,failed,11,12,Q4,Q4,157.273939,2014
192545,109884142,PNW Juice Truck,USD,food,Drinks,2016-02-02 22:34:22,2016-03-03 22:34:22,30.0,30000.00000,Seattle,...,US,13,3,failed,2,3,Q1,Q1,0.000000,2016
192546,277520923,succulent christmas tree,USD,art,Conceptual Art,2014-08-06 18:16:29,2014-10-05 18:16:29,60.0,1200.00000,Los Angeles,...,US,3,3,failed,8,10,Q3,Q4,143.000000,2014
192547,2054018879,Monthly Herbal Boxes!,USD,crafts,DIY,2016-12-23 18:40:05,2017-02-21 18:40:05,60.0,7600.00000,Phoenix,...,US,20,3,failed,12,2,Q4,Q1,311.000000,2017

In [4]:
kick = kick.drop(['id','name','sub_category','launched_at','deadline','city','state','start_Q','end_Q','currency','country','blurb_length','name_length','year','status'], axis='columns')
kick

,main_category,duration,goal_usd,start_month,end_month,usd_pledged
0,games,16.0,2000.00000,10,11,6061.000000
1,comics,30.0,3870.99771,8,9,3914.505120
2,fashion,30.0,1100.00000,6,7,1110.000000
3,music,45.0,3500.00000,9,11,4807.000000
4,technology,60.0,30000.00000,11,1,40368.000000
...,...,...,...,...,...,...
192543,food,60.0,57858.66500,10,12,1.224260
192544,technology,47.0,115717.33000,11,12,157.273939
192545,food,30.0,30000.00000,2,3,0.000000
192546,art,60.0,1200.00000,8,10,143.000000
192547,crafts,60.0,7600.00000,12,2,311.000000

In [7]:
import pandas as pd

dummies = pd.get_dummies(kick.main_category)
kick = pd.concat([kick,dummies],axis='columns')
kick

,main_category,duration,goal_usd,start_month,end_month,usd_pledged,art,comics,crafts,dance,...,fashion,film & video,food,games,journalism,music,photography,publishing,technology,theater
0,games,16.0,2000.00000,10,11,6061.000000,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,comics,30.0,3870.99771,8,9,3914.505120,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,fashion,30.0,1100.00000,6,7,1110.000000,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,music,45.0,3500.00000,9,11,4807.000000,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,technology,60.0,30000.00000,11,1,40368.000000,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192543,food,60.0,57858.66500,10,12,1.224260,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
192544,technology,47.0,115717.33000,11,12,157.273939,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
192545,food,30.0,30000.00000,2,3,0.000000,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
192546,art,60.0,1200.00000,8,10,143.000000,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
192547,crafts,60.0,7600.00000,12,2,311.000000,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
kick = kick.drop(['main_category','art'], axis='columns')
kick

,duration,goal_usd,start_month,end_month,usd_pledged,comics,crafts,dance,design,fashion,film & video,food,games,journalism,music,photography,publishing,technology,theater
0,16.0,2000.00000,10,11,6061.000000,0,0,0,0,0,0,0,1,0,0,0,0,0,0
1,30.0,3870.99771,8,9,3914.505120,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,30.0,1100.00000,6,7,1110.000000,0,0,0,0,1,0,0,0,0,0,0,0,0,0
3,45.0,3500.00000,9,11,4807.000000,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4,60.0,30000.00000,11,1,40368.000000,0,0,0,0,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192543,60.0,57858.66500,10,12,1.224260,0,0,0,0,0,0,1,0,0,0,0,0,0,0
192544,47.0,115717.33000,11,12,157.273939,0,0,0,0,0,0,0,0,0,0,0,0,1,0
192545,30.0,30000.00000,2,3,0.000000,0,0,0,0,0,0,1,0,0,0,0,0,0,0
192546,60.0,1200.00000,8,10,143.000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0
192547,60.0,7600.00000,12,2,311.000000,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [23]:
kick.corr()

,duration,goal_usd,start_month,end_month,usd_pledged,comics,crafts,dance,design,fashion,film & video,food,games,journalism,music,photography,publishing,technology,theater
duration,1.000000,0.026188,0.007794,-0.026497,0.025177,-0.031732,-0.028748,-0.012163,-0.000304,-0.026610,0.007986,0.030840,-0.055236,0.018631,0.038403,-0.013873,-0.007885,0.079170,-0.017274
goal_usd,0.026188,1.000000,0.002996,0.000176,0.007992,-0.006267,-0.005287,-0.004264,0.001046,-0.005566,0.023422,0.002131,-0.001287,0.004988,-0.010128,-0.004921,-0.008541,0.008978,-0.001796
start_month,0.007794,0.002996,1.000000,0.616596,0.005214,0.003919,-0.002533,-0.010932,0.016975,0.024609,-0.011797,-0.006242,0.032615,-0.004071,-0.017292,-0.003363,0.004728,0.014136,-0.022486
end_month,-0.026497,0.000176,0.616596,1.000000,0.010129,0.018018,0.000464,-0.011664,0.012926,0.025716,-0.017026,-0.006818,0.035110,-0.008954,-0.022612,0.002494,0.005759,0.004781,-0.012519
usd_pledged,0.025177,0.007992,0.005214,0.010129,1.000000,-0.010900,-0.021595,-0.014413,0.059622,-0.002224,-0.014597,-0.020229,0.063829,-0.017201,-0.036299,-0.014885,-0.023628,0.099419,-0.017669
comics,-0.031732,-0.006267,0.003919,0.018018,-0.010900,1.000000,-0.039435,-0.030358,-0.043013,-0.051337,-0.082460,-0.061091,-0.055616,-0.035366,-0.082883,-0.041918,-0.068981,-0.070839,-0.039187
crafts,-0.028748,-0.005287,-0.002533,0.000464,-0.021595,-0.039435,1.000000,-0.027024,-0.038289,-0.045700,-0.073405,-0.054382,-0.049509,-0.031482,-0.073781,-0.037315,-0.061405,-0.063060,-0.034884
dance,-0.012163,-0.004264,-0.010932,-0.011664,-0.014413,-0.030358,-0.027024,1.000000,-0.029476,-0.035180,-0.056508,-0.041864,-0.038113,-0.024235,-0.056798,-0.028726,-0.047271,-0.048544,-0.026854
design,-0.000304,0.001046,0.016975,0.012926,0.059622,-0.043013,-0.038289,-0.029476,1.000000,-0.049846,-0.080064,-0.059316,-0.054001,-0.034338,-0.080475,-0.040700,-0.066977,-0.068781,-0.038049
fashion,-0.026610,-0.005566,0.024609,0.025716,-0.002224,-0.051337,-0.045700,-0.035180,-0.049846,1.000000,-0.095560,-0.070796,-0.064452,-0.040984,-0.096050,-0.048578,-0.079939,-0.082093,-0.045413
film & video,0.007986,0.023422,-0.011797,-0.017026,-0.014597,-0.082460,-0.073405,-0.056508,-0.080064,-0.095560,1.000000,-0.113715,-0.103525,-0.065830,-0.154280,-0.078027,-0.128402,-0.131861,-0.072944
food,0.030840,0.002131,-0.006242,-0.006818,-0.020229,-0.061091,-0.054382,-0.041864,-0.059316,-0.070796,-0.113715,1.000000,-0.076697,-0.048770,-0.114298,-0.057807,-0.095127,-0.097689,-0.054040
games,-0.055236,-0.001287,0.032615,0.035110,0.063829,-0.055616,-0.049509,-0.038113,-0.054001,-0.064452,-0.103525,-0.076697,1.000000,-0.044400,-0.104056,-0.052627,-0.086602,-0.088935,-0.049198
journalism,0.018631,0.004988,-0.004071,-0.008954,-0.017201,-0.035366,-0.031482,-0.024235,-0.034338,-0.040984,-0.065830,-0.048770,-0.044400,1.000000,-0.066168,-0.033464,-0.055069,-0.056553,-0.031284
music,0.038403,-0.010128,-0.017292,-0.022612,-0.036299,-0.082883,-0.073781,-0.056798,-0.080475,-0.096050,-0.154280,-0.114298,-0.104056,-0.066168,1.000000,-0.078427,-0.129060,-0.132537,-0.073318
photography,-0.013873,-0.004921,-0.003363,0.002494,-0.014885,-0.041918,-0.037315,-0.028726,-0.040700,-0.048578,-0.078027,-0.057807,-0.052627,-0.033464,-0.078427,1.000000,-0.065272,-0.067031,-0.037081
publishing,-0.007885,-0.008541,0.004728,0.005759,-0.023628,-0.068981,-0.061405,-0.047271,-0.066977,-0.079939,-0.128402,-0.095127,-0.086602,-0.055069,-0.129060,-0.065272,1.000000,-0.110306,-0.061020
technology,0.079170,0.008978,0.014136,0.004781,0.099419,-0.070839,-0.063060,-0.048544,-0.068781,-0.082093,-0.131861,-0.097689,-0.088935,-0.056553,-0.132537,-0.067031,-0.110306,1.000000,-0.062664
theater,-0.017274,-0.001796,-0.022486,-0.012519,-0.017669,-0.039187,-0.034884,-0.026854,-0.038049,-0.045413,-0.072944,-0.054040,-0.049198,-0.031284,-0.073318,-0.037081,-0.061020,-0.062664,1.000000

In [11]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [13]:
X = kick.drop('usd_pledged',axis='columns')
X

,duration,goal_usd,start_month,end_month,comics,crafts,dance,design,fashion,film & video,food,games,journalism,music,photography,publishing,technology,theater
0,16.0,2000.00000,10,11,0,0,0,0,0,0,0,1,0,0,0,0,0,0
1,30.0,3870.99771,8,9,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,30.0,1100.00000,6,7,0,0,0,0,1,0,0,0,0,0,0,0,0,0
3,45.0,3500.00000,9,11,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4,60.0,30000.00000,11,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192543,60.0,57858.66500,10,12,0,0,0,0,0,0,1,0,0,0,0,0,0,0
192544,47.0,115717.33000,11,12,0,0,0,0,0,0,0,0,0,0,0,0,1,0
192545,30.0,30000.00000,2,3,0,0,0,0,0,0,1,0,0,0,0,0,0,0
192546,60.0,1200.00000,8,10,0,0,0,0,0,0,0,0,0,0,0,0,0,0
192547,60.0,7600.00000,12,2,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [15]:
y = kick.usd_pledged
y

0          6061.000000
1          3914.505120
2          1110.000000
3          4807.000000
4         40368.000000
              ...
192543        1.224260
192544      157.273939
192545        0.000000
192546      143.000000
192547      311.000000
Name: usd_pledged, Length: 192548, dtype: float64

In [16]:
model.fit(X,y)

LinearRegression()

In [17]:
model.score(X,y)

0.021493305841591814